/*scroll lista de partidos */
.lista-proximos-partidos{
    height: 200px;
    overflow-y: auto;
    overflow-x:hidden;
}

.lista-proximos-partidos::-webkit-scrollbar{
    display: none;
}
/*end scroll lista de partidos' */

/*------------------------------------------------------------------------------------*/

/*Modal style*/

.modal-header{
    background-color: rgb(44, 44, 44);
    color: white;
    font: bolder;
    font-size: 40px;
}

/*End modal-style*/

/*------------------------------------------------------------------------------------*/

/* navigation.html styles */

#list_apuestas:hover { 
    background-color: #007bff;
    color: white;
}

#list_puntaje:hover { 
    background-color: #17a2b8;
    color: white;
}

#list_grupos:hover { 
    background-color: #28a745;
    color: white;
}

#list_datos:hover { 
    background-color: #dc3545;
    color: white;
}
/* fin apuestas.html styles */

/*------------------------------------------------------------------------------------*/

/* Footer */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(255, 255, 246);
    color: black;
    text-align: center;
    height: 8%;
<<<<<<< HEAD
}

/* Footer */

/*------------------------------------------------------------------------------------*/

/* puntaje.html styles */

.box {
    width: 50%;
    padding: 10px;
    border: 2px solid rgb(161, 147, 147);
    margin: 0 auto;
=======
>>>>>>> 6b13a7898a813c2d48bf5ccb8b773f6d124131e4
}

/* fin puntaje.html styles */