{% extends "prode/navigation.html" %}
{% load static %}
{% block content %}

<style>
    .carousel-control-prev,
    .carousel-control-next {
        margin-top: 15%;
        position: fixed;
        margin-left: 20%;
    }
</style>

{% include 'prode/messages.html' %}

    
<div id="betsCarousel" class="carousel slide" data-ride="carousel" data-interval="false">

    <div class="carousel-inner">
        {% for c in competitions %}        

            {% if forloop.first %}
                <div class="carousel-item active">
            {% else %}
                <div class="carousel-item">
            {% endif %}    
                
            <h2 class="text-light text-center" style="font-family: serif">
                <strong>{{c.name}}</strong>
            </h2>
                <div class="lista-proximos-partidos">  
                    <div class="row text-center">

                        <div class="col-md-6 offset-md-3">
                            
                            {% for match in matchs %}

                                {% if c.name == match.competition.name %}
                                
                                    <form method="POST">
                                        {% csrf_token %}
                                        {% for bet in bets %}
                                            {% if match.id == bet.match.id %}
                                                <input type="hidden" name="bet_id" id="bet_id" value="{{ bet.id }}" formmethod="GET">
                                            {% endif %}
                                        {% endfor %}
                                        <input type="hidden" name="match" id="match" value="{{ match.id }}">
                                            
                                            <div class="accordion" id="accordionBet">
    
                                                <div class="card">
                                                    
                                                    <div class="card-header" id="heading{{ forloop.counter }}" style="background: rgb(76, 167, 65)">
                                                        <h5 class="mb-0">    
                                                            <button {% if forloop.first %} class="btn btn-link text-white" aria-expanded="true" {% else %} class="btn btn-link collapsed text-white" aria-expanded="false"{% endif %}
                                                                type="button" data-toggle="collapse" data-target="#collapse{{ forloop.counter }}" aria-controls="collapse{{ forloop.counter }}">
                                                                {{ match }} |
                                                                {{ match.start|date:'d-m-Y' }}
                                                                <i class="material-icons vertical-align-middle padding-bottom-3">
                                                                    expand_more
                                                                </i>
                                                            </button>
                                                        </h5>   
                                                    </div>
                                                    
                                                    <div id="collapse{{ forloop.counter }}" {% if forloop.first %} class="collapse show" {% else %} class="collapse" {% endif %} aria-labelledby="heading{{ forloop.counter }}" data-parent="#accordionBet">
                                                            
                                                        <div class="card-body">
                                                            <div class="row">
                                                                <div class="col">
                                                                    <img src="{{ '/static/' }}{{ match.team1.flag }}" alt="Bandera">
                                                                    <br>
                                                                    {{ match.team1.name }}
                                                                </div>
                                                                <div class="col">
                                                                        {{ form.team1_score }}
                                                                </div>
                                                                <div class="col">
                                                                        {{ form.team2_score }}
                                                                </div>
                                                                <div class="col">
                                                                    <img src="{{ '/static/' }}{{ match.team2.flag }}" alt="Bandera">
                                                                    <br>
                                                                    {{ match.team2.name }}
                                                                </div>
                                                            </div> <!-- FIN ROW -->
                                                                <button class="btn btn-success" type="submit">Apostar</button>
                                                        </div> <!-- FIN CARD-BODY -->
                                                    
                                                    </div> <!-- FIN COLLAPSE -->
                                                
                                                </div> <!-- FIN CARD -->
                                    
                                            </div> <!-- FIN ACCORDION -->
                                                
                                    </form>
                                    <br>

                                {% endif %}

                            {% endfor %} <!-- end matchs for -->

                        </div> <!-- FIN COL -->
                    
                    </div> <!-- FIN ROW -->
                </div>
                </div> <!-- FIN CAROUSEL-ITEM -->
        
        {% endfor %} <!-- end competitions for -->
    
    {% if competitions|length > 1 %}
    </div> <!-- FIN CAROUSEL INNER -->
    <a class="carousel-control-prev" href="#betsCarousel" role="button" data-slide="prev">
        <i class="material-icons" style="font-size: 400px; color: white">
            arrow_left
        </i>
    </a>
    
    <a class="carousel-control-next" href="#betsCarousel" role="button" data-slide="next">
        <i class="material-icons" style="font-size: 400px; color: white">
            arrow_right
        </i>
    </a>
    {% endif %}
</div> <!-- FIN CAROUSEL -->




<script>
    window.onload = function(){
        document.getElementById('list_apuestas').style.background='#007bff';
        document.getElementById('list_apuestas').style.color= 'white';
    }
</script>

{% endblock %}

