{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'prode/css/style.css' %}" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous" async></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous" async></script>
    <script src="{% static 'prode/js/modal.js' %} " async></script>
    <title>PRODESAMA</title>
</head>
<body style="overflow: hidden"> <!-- Agregado por temas de scrollbar -->
    <nav class="navbar navbar-expand-xl navbar-light bg-light">
        <img class="navbar-brand" src="{% static 'prode/images/prodelogo.png' %}" alt="PRODESAMA" width="180" height="auto">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item active">
                    <a class="nav-link" href="/logout">Cerrar sesión<span class="sr-only">(current)</span></a>
                    </li>
                {% else %}
                    <li class="nav-item active">
                        <a class="nav-link" href="#" data-toggle="modal" data-target="#modalLogin">Iniciar sesión<span class="sr-only">(current)</span></a>
                        <!-- -->
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#" data-toggle="modal" data-target="#modalSignup">Registrarse<span class="sr-only">(current)</span></a>
                        <!-- -->
                    </li>
                {% endif %}    
            </ul>
        </div>
    </nav>

    <!-- Modales -->
    <div class="modal fade" id="modalLogin">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Iniciá sesión</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">&times;</button>
                </div>
                <div class="modal-body">
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="id_username">Usuario:</label>
                                <div>
                                    <input type="text" name="username" maxlength="254" required id="id_username" autofocus />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="id_password">Contraseña:</label>
                                <div>
                                    <input type="password" name="password" id="id_password" required />
                                </div>
                            </div>
                        </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" href="/login">Entrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalSignup">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Registrate</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">&times;</button>
                </div>
                <div class="modal-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_username">Nombre de usuario:</label>
                            <div>
                                <input type="text" name="username" maxlength="150" id="id_username" autofocus required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="id_first_name">Nombre:</label>
                            <div>
                                <input type="text" name="first_name" maxlength="30" id="id_first_name" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="id_last_name">Apellido:</label>
                            <div>
                                <input type="text" name="last_name" maxlength="150" id="id_last_name" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="id_email">Correo electrónico:</label>
                            <div>
                                <input type="email" name="email" id="id_email" required />
                            </div>
                        </div>    
                        <div class="form-group">
                                <label for="id_password1">Contraseña:</label>
                            <div>
                                    <input type="password" name="password1" id="id_password1" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="id_password2">Repetir contraseña:</label>
                            <div>
                                <input type="password" name="password2" id="id_password2" required />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" href="/signup">Registrarse</button>
                </div>
            </div>
        </div>
    </div>
    {% block body_block %}

    {% endblock %}
</body>
</html>