{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <nav class="navbar is-transparent">
        <div class="navbar-brand">
            <a class="navbar-item" href="#">
                <img src="{% static 'prode/images/prodelogo.png' %}" alt="PRODESAMA" width="112" height="28">
            </a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" onclick="chooseModal('login')">Sign In</a>
                <a class="navbar-item" onclick="chooseModal('register')">Sign Up</a>
                <div class="modal" id="modal">
                    <div class="modal-background"></div>
                    <div class="modal-card">
                        <header class="modal-card-head">
                            <p class="modal-card-title" id='sign-in'>Login</p>
                            <p class="modal-card-title" id='sign-up'>Register</p>
                            <button class="delete" onclick="closeModal()"></button>
                        </header>
                        <section class="modal-card-body">
                            <!-- Content ... -->
                        </section>
                        <footer class="modal-card-foot">
                            <a class="button is-success">Save changes</a>
                            <a class="button">Cancel</a>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </nav>


    {% block body_block %}
    <!-- Anything outside of this will be inherited if you extend !-->
    {% endblock %}
</body>
<script src="{% static 'prode/js/modal.js' %}"></script>

</html>