<form id="form-password" method="post" action="{% url 'prode:change_password' %}">
  {% csrf_token %}
    <!--OLD PASSWORD-->
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Contraseña actual</span>
        </div>
        <input class="form-control form-control-sm" name="old_password" id="id_old_password" type="password" placeholder="Contraseña actual">
    </div>
    <br>

    <!--NEW PASSWORD 1-->
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Nueva contraseña</span>
        </div>
        <input class="form-control form-control-sm" name="new_password1" id="id_new_password1" type="password" placeholder="Nueva contraseña">
    </div>    
    <br>

    <!--NEW PASSWORD 2-->
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Repetir nueva contraseña</span>
        </div>
        <input class="form-control form-control-sm" name="new_password2" id="id_new_password2" type="password" placeholder="Repita nueva contraseña">
    </div>    
    <br>

    <button type="submit" class="btn btn-light text-info">Actualizar contraseña</button>
</form>

