{% extends "prode/navigation.html" %}
{% block content %}
<div class="container">
    <table>
        <tr>
            <td>Usuario</td>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <td>Nombre</td>
            <td>{{ user.first_name }}</td>
        </tr>
        <tr>
            <td>Apellido</td>
            <td>{{ user.last_name }}</td>
        </tr>
        <tr>
            <td>Correo electrónico</td>
            <td>{{ user.email }}</td>
        </tr>
    </table>
</div> 
{% endblock %}
