{% extends "prode/base.html" %}
{% load static %}
{% block body_block %}
<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <ul class="nav flex-column nav-tabs nav-fill">
    
                <li class="lista-opciones-home">        <!-- Agrego clases para css -->
                  <a class="lista-format" href="apuestas">Apuestas</a>
                </li>
                <li class="lista-opciones-home">
                  <a class="lista-format" href="puntaje">Puntaje</a>
                </li>
                <li class="lista-opciones-home">
                  <a class="lista-format" href="datos">Mis datos</a>
                </li>
                <li class="lista-opciones-home">
                  <a class="lista-format" href="grupos">Mis grupos</a>
                </li>
              </ul>
        </div>
        <div class="col-10">
            <div class="jumbotron">
                <h1 class="display-4">Acá va el contenido</h1>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo totam porro harum, libero, in praesentium, tenetur maxime ipsa obcaecati aliquid magni velit ut? Esse blanditiis nam voluptatum doloremque saepe odit.</p>
                <hr class="my-4">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae, provident? Eius amet laborum atque suscipit aspernatur ad, distinctio expedita, velit et odit, culpa sequi veniam esse impedit nostrum molestiae autem!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum veritatis harum eligendi voluptatem quidem sint non quibusdam repellat accusantium temporibus, dolore deleniti, ut quaerat veniam nesciunt odit optio cum expedita.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}