{% extends "prode/base.html" %}
{% load static %}
{% block body_block %}
<section class="hero is-light is-large">
    <div class="container">
        <h1 class="title is-1">Bets</h1>
        <table class="table is-striped">
            {% for match in match_list %}
                <tr>
                    <th>{{ match.start|date:'Y-m-d' }}</th>
                </tr>
                <tr>
                    <td><img src="{% static 'prode/images/' %}{{ match.team1.flag }}" alt="Bandera"></td>
                    <td>{{ match.team1.name }}</td>
                    <td>{{ match.team1_score }}</td>
                    <td>{{ match.team2_score }}</td>
                    <td>{{ match.team2.name }}</td>
                    <td><img src="{% static 'prode/images/' %}{{ match.team2.flag }}" alt="Bandera"></td>
                </tr>
            {% endfor %}
        </table>
    </div>
</section>
{% endblock %}