{% extends "prode/base.html" %}
{% load static %}
{% block body_block %}


<div class="jumbotron jumbotron-fluid" style="background-size: 100%; background: url({% static 'prode/images/mundial2018-2.jpg' %}); background-size: 35%;">


 <!-- Columna de partidos por jugarse -->
    <div class="row justify-content-center">

        <div class="col-md-3">
        
        {% for comp in competition %}

                <table class="table table-striped table-dark text-center">
                
                    <thead>
                        <th></th>
                        <th>{{ comp.name }}</th>
                        <th></th>
                    </thead>

                {% for cs in comp_stats %}
                
                    {% if comp == cs.comp %}

                    <tbody>
                        <td>{{cs.ranking}}</td>
                        <td>{{ cs.user }}</td>
                        <td>{{ cs.score }}</td>
                    </tbody>
                    
                    {% endif %}

                {% endfor %}

                </table>
        
        {% endfor %}

        </div>
    
        <div class="col-md-4">
            
            {% for match in matches %}
            
                <div class="card text-white text-center">
                    
                    <h5 class="card-header" style="background: rgb(32, 44, 73); border-color:white">
                        {{ match.start|date:'d-m-Y' }} | {{ match.start|time:'H:i' }}
                    </h5>
                    
                    <div class="card-body" style="background: rgb(16, 18, 32)">
                    
                        <div class="row">
                            
                            <div class="col">
                                <img src="{{ 'static/' }}{{ match.team1.flag }}" alt="Bandera">
                                <br>
                                {{ match.team1.name }}
                            </div>
                            
                            <div class="col">
                                <img src="{{ 'static/' }}{{ match.team2.flag }}" alt="Bandera">
                                <br>
                                {{ match.team2.name }}
                            </div>
                        
                        </div>
                    
                    </div>
                
                </div>
            
            <br>
            
            {% endfor %}
        
        </div>
    
    </div>

<!-- Fin Columna de partidos por jugarse -->

</div>



<div class="footer">
    <p></p>
    <p>SamaProject | Copyright © 2018</p>
</div>

{% endblock %}


