{% extends "prode/navigation.html" %}
{% block content %}

        
<div class="row justify-content-center text-center" style="opacity: 0.8">
    
            
    <div class="col-md-4">    
    
        {% for c in comps %}
                
            <div class="card">
            
                <h5 class="card-header"><strong>{{ c.name }}</strong></h5>
            
                <div class="card-body">
                    
                    {% for cs in comp_stats %}
                        
                        {% if c == cs.comp %}     
                            
                            {% if user == cs.user %}
                            
                                {% if cs.ranking == None %}
                                    <p>Aún no posees ranking para esta competencia</p>
                                {% else %}
                                    <p>Ranking: {{ cs.ranking }}</p>
                                {% endif %}
                                <br>
                                <p>Score: {{ cs.score }}</p>  
                            
                            {% endif %}
                        
                        {% endif %}
                    
                    {% endfor %}
                
                </div>
            
            </div>    
            <br>
            
        {% endfor %}
    
    </div>


    <div class="col-md-7">
        
        <div class="card">
            
            <h5 class="card-header"><strong>Historial de apuestas</strong></h5>

            <div class="lista-proximos-partidos">

                <div class="card-body">

                    {% for bet in bets %}

                        {% if user == bet.user %} 

                            <mark>

                                En el partido {{ bet.match }} apostaste
                                <br>
                                <b class="text-success"> 
                                {{bet.match.team1 }} {{ bet.team1_score }}
                                - {{ bet.match.team2 }} {{ bet.team2_score }} 
                                </b>
                                <br>
                                Y obtuviste <b class="text-success">{{ bet.result }} punto/s</b>
                                <br>

                            </mark>     

                            <br>
                        
                        {% endif %}
                        
                    {% endfor %}
                        
                </div>
            
            </div>

        </div>

    </div>


</div>





<script>
    window.onload = function(){
        document.getElementById('list_puntaje').style.background='#dc3545';
        document.getElementById('list_puntaje').style.color= 'white';
    }
</script>


{% endblock %}