{% extends "prode/navigation.html" %}
{% block content %}

        
<div class="row justify-content-center text-center" style="opacity: 0.8">
    
            
    <div class="col-md-4">    
    
        {% for cs in comp_stats %}
            
            {% if user == cs.user %}
                
                <div class="card">
                
                    <h5 class="card-header"><strong>{{ cs.comp }}</strong></h5>
                
                    <div class="card-body">
                        <p>Ranking: {{ cs.ranking }}</p>
                        <br>
                        <p>Score: {{ cs.score }}</p>  
                    </div>
                
                </div>    
                <br>
            
            {% endif %}   

        {% endfor %}
    
    </div>


    <div class="col-md-7">
        
        <div class="card">
            
            <h5 class="card-header"><strong>Historial de apuestas</strong></h5>

            <div class="lista-proximos-partidos">

                <div class="card-body">

                    {% for bet in bets %}

                        {% if user == bet.user %} 

                            <mark>

                                En el partido {{ bet.match }} apostaste
                                <br>
                                <b class="text-success"> 
                                {{bet.match.team1 }} {{ bet.team1_score }}
                                - {{ bet.match.team2 }} {{ bet.team2_score }} 
                                </b>
                                <br>
                                Y obtuviste <b class="text-success">{{ bet.result }} punto/s</b>
                                <br>

                            </mark>     

                            <br>
                        
                        {% endif %}
                        
                    {% endfor %}
                        
                </div>
            
            </div>

        </div>

    </div>


</div>





<script>
    window.onload = function(){
        document.getElementById('list_puntaje').style.background='#17a2b8';
        document.getElementById('list_puntaje').style.color= 'white';
    }
</script>


{% endblock %}