<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <title>Index</title>
</head>
<body>
    <div class="container">
        <h1 class="title is-1">Lista de países</h1>
        <table class="table is-striped">
            <tr>
                <th>Pais</th>
                <th>Bandera</th>
                <th>Puntaje</th>
            </tr>
            {% for county in countries_list %}
                <tr>
                    <td>{{ country.name }}</td>
                    <td>{{ country.flag }}</td>
                    <td>0</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>